<form {{action 'saveGoal' on="submit"}} class="form-container">
  <div>
    <span class="todo-header">New Goal</span>
  </div>

  <div>{{input class="goal-input" placeholder="Goal" value=title}}</div>

  <div class="pictures">
    <div class="cards editing-goal-cards">
      <div class="card">
        <div class="card-image editing first" style=imageStyle>
          <img class="photo1 selectingphoto" tabindex="0" {{bind-attr src=session.currentUser.photo1.url}}>
        </div>
      </div>
      <div class="card editing">
        <div class="card-image  editing second" style=imageStyle>
          <img class="photo2 selectingphoto" tabindex="0" {{bind-attr src=session.currentUser.photo2.url}}>
        </div>
      </div>
      <div class="card editing">
        <div class="card-image editing third" style=imageStyle>
          <img class="photo3 selectingphoto" tabindex="0" {{bind-attr src=session.currentUser.photo3.url}}>
        </div>
      </div>
    </div>
  </div>

  {{#link-to 'account'}}
    <a class="myaccountlink">My Account      |</a>
  {{/link-to}}
  <div class="logstuff">
    <a class="loggy">
      <a class="logout-button" {{ action 'invalidateSession' }}>Logout</a>
    </a>
  </div>

    <button class="goal-button" type="submit" {{action 'saveGoal' on="submit"}}>Save this Goal</button>

</form>


{{outlet}}
