<div class="header">
  <ul class="header-list">
    <img class='profile-pic' src=""/>
    <p class='username'>Welcome back, Jasper.</p>
    <li class="header-icons"><a>{{fa-icon "arrow-circle-down"}}</a></li>
    <li class="header-icons">{{fa-icon "lightbulb-o"}}</li>
    {{#link-to 'account'}}
      <li class="header-icons">{{fa-icon "fa-user"}}</li>
    {{/link-to}}
  </ul>
</div>

<div class="left-container">
  <ul class="list">
    <h2 class="todo-header">
      Goals
    </h2>

    {{#each goal in model}}
      <li class="goal">
        {{fa-icon "fa-square-o"}}
        {{goal.title}}
        <button {{action 'destroy' goal}}>X</button>
      </li>
    {{/each}}
    {{#link-to 'create'}}
      <div class="create-button">
        {{fa-icon "fa-plus-circle"}}
      </div>
    {{/link-to}}
  </ul>
</div>

<div class="right-container">
  <div class="timer">
    {{x-timer autoStart='false' startTime='1500' format='HH:MM:SS' isStopWatch='true'}}
  </div>
</div>

{{outlet}}
