<div class="pictures">
  <div class="cards">
    <div class="card">
      <div class="card-image first" style=imageStyle>
        <img class="photo1" {{bind-attr src=session.currentUser.photo1.url}}>
      </div>
    </div>
    <div class="card">
      <div class="card-image second" style=imageStyle>
        <img class="photo2" {{bind-attr src=session.currentUser.photo2.url}}>
      </div>
    </div>
    <div class="card">
      <div class="card-image third" style=imageStyle>
        <img class="photo3" {{bind-attr src=session.currentUser.photo3.url}}>
      </div>
    </div>
  </div>
</div>
<div class="bottom-container">
  <div class="saying">
    <span>This is why
      <span class="emphasized"></span> you wake up everyday.</span>
    <div>
      <span>Pause and reflect for a moment.</span>
    </div>
  </div>
  <div class="animate-container">
    <h1 class="biglogo"><a>{{fa-icon "arrow-circle-down"}}</a></h1>
      {{#link-to 'goal'}}
        <div class="piecontainer">
          <div class="pie-timer">
            <div class="timer-slot">
              <div class="timer-l">
              </div>
            </div>
            <div class="timer-r">
            </div>
          </div>
        </div>
      {{/link-to}}
  </div>
</div>

{{outlet}}
