<form class="register-form" {{action 'register' on='submit'}}>
      <h1 class="logo">{{fa-icon "arrow-circle-down"}}</h1>
      <div>{{input value=firstname class="login-inputs form-control" type='name' placeholder='First Name'}}</div>
      <div>{{input value=lastname class="login-inputs form-control" type='name' placeholder='Last Name'}}</div>
      <div>{{input value=username class="login-inputs form-control" type='email' placeholder='Email'}}</div>
      <div>{{input value=password class="login-inputs form-control" type="password" placeholder='Password'}}</div>
      <div>{{select-file file=accountPictureFile class="uploadpic login-inputs form-control"}}</div>

      <button type="submit" class="register-button">Register</button>
      <div class="sign-up-link">{{#link-to 'login'}}I already have an account{{/link-to}}</div>
</form>

{{outlet}}
